@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #747d8c;
    box-sizing: border-box;
}
*::selection{
    background-color: rgb(255, 106, 106);
}
header{
    background: #ff3838;
    width: 100%;
    height: 100px;
    line-height: 90px;
}
header h1{
    color: white;
    text-align: center;
}
#login{
    margin: 10px auto;
    text-align: center;
    background-color: #f1f2f6;
    width: 600px;
    height: 400px;
    border-radius: 3px 20px 3px 20px;
}
#login input{
    width: 300px;
    height: 40px;
    border: solid 3px #969696;
    border-radius: 5px;
    padding: 10px;
}
#login input:focus{
    outline: none;
}
label{
    font-size: 22px;
    
}
#entrar{
    width: 80px;
    height: 40px;
    background: #ff0000;
    border: rgb(255, 0, 0) solid 1px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px 1px 5px 1px;
    transition: 0.3s;
}
#entrar:hover{
    cursor: pointer;
    background: rgb(240, 0, 0);
    transition: 0.3s;
}
footer{
    width: 100%;
    background-color: RED;
    height: 100px;
    margin-top: 350px;
    text-align: center;
    color: white;
    line-height: 80px;
    font-size: 30px;
}
#exibicao-de-comprovantes{
    width: 95%;
    margin: 10px auto;
    background-color: #f1f2f6;
    border-radius: 10px 3px 10px 3px;
    padding: 10px;
}
#header-exibicao{
    line-height: 60px;
    width: 100%;
    margin: auto;
    text-align: center;
}
#header-exibicao input{
    height: 30px;
    border: #969696 solid 2px;
    border-radius: 3px 0px 0px 3px;
    padding: 10px;
}
#header-exibicao button{
    transform: translateY(2px) translateX(-10px);
    height: 30px;
    width: 30px;
    border: #969696 solid 2px;
    border-radius: 0px 3px 3px 0px;
    background: white;
    border-left: none;
}
#header-exibicao button:hover{
    cursor: pointer;
}
#header-exibicao label{
    font-size: 20px;
    border: #969696 solid 2px;
    border-radius: 3px;
    
}
input:focus{
    outline: none;
}
a{
    text-align: center;
    margin: auto;
}
header{
    text-align: center;
}

.container{
    text-align: center;
}



@media (max-width:400px) {
    header{
        font-size: 16px;
    }
    header h1{
        font-size: 20px;
    }
    #login{
        width: 310px;
    }
    #login input{
        width: 250px;
    }
    footer{
        font-size: 25px;
    }
}
@media (max-width: 608px){
    #login{
        width: 95%;
    }
}