<title>{$title}</title>
<form class="rounded-2 container shadow"
    style="text-align: center;padding: 50px;margin: 30px auto;box-sizing: border-box;max-width: 500px;" action=""
    method="post">
    <h1 class="display-1">Entrar</h1>
    <br>
    <div style="margin:10px auto;" class="input-group mb-3">
        <input placeholder="Usuário" type="text" class="form-control form-control-lg" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
    </div>
    <div style="margin:10px auto;" class="input-group mb-3">
        <input placeholder="Senha" type="password" class="form-control form-control-lg"
            aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <button style="transform: scale(1.2);" type="button" class="btn btn-outline-danger">Entrar</button>
</form>